body{

    background-color:rgb(67, 42, 82);

}

/*TITULO*/

h1{



    font-size: 200%;

     text-align:left;

    color:rgba(189, 161, 206, 0.761);

    transition: .3s;

}

/*transição*/

h1:hover {

    font-size: 250%;

    color: rgba(225, 167, 133, 0.761);;

}

/*TITULOS CAB*/



th{

    color:rgb(17, 7, 27);

    text-align:left;



}


/*cont*/



tr{

    background-color:rgb(199, 140, 140);

    color:rgb(36, 51, 54);

}

/*transição*/

tr:hover {

    color: rgb(138, 108, 108);

}