body, html {
    margin: 0;
    padding: 1rem 1rem 3rem 2rem;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

th,
td {
    border: .01rem solid rgb(95, 95, 95);
    padding: .3rem 1.7rem .3rem 1.7rem;

    font-family: monospace;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;

    height: 1.4rem;

    cursor: pointer;
    transition: .3s;

    user-select: none;

}

.table_two td:hover {
    background: rgba(0, 0, 0, 0.233);
    border-radius: 1.7rem;
}

th {
    background: rgb(153, 153, 153);
    color: #fefefe;
    font-family: monospace;
    font-size: 1.1rem;
}

tr td:nth-child(1) {
    color: rgb(109, 108, 109);
    font-size: 1.2rem;
}

.bg td {
    background: rgba(136, 136, 136, 0.329);
    color: #000;
}

/* --- Scroll Bar --- */
body::-webkit-scrollbar {
    width: 10px;              
}
  
body::-webkit-scrollbar-track {
    background: rgba(212, 212, 212, 0.555);      
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(77, 74, 75, 0.164);  
    border-radius: 20px;      
}