table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
  }
  
h4{
    background-color: rgb(167, 126, 167) ;
}
h4{
    border: solid;
}
h4{
    text-align: center;

}
th{
    background-color: rgb(167, 126, 167);
}
    th{ border: solid;

    }
    
td{
    border: rgb(19, 105, 121);
}
td{
    border: solid;
}
td{
    background: rgb(201, 184, 206);
}