body{
    background-color: rgb(204, 204, 204);
    margin:0px
}
h1{color:rgb(0, 0, 20);
    text-align: center;
}
border{
    color: rgb(49, 65, 94);
}
table{
    position:absolute;
    top: 80px;
    left: 345px ;
}