body {
    background-color: rgb(174, 183, 224);
}
table, th, td{
    border: 1px solid black;
}
tr{
    background-color: rgb(82, 77, 105);
}
th{
    text-align: center;
    color: rgb(234, 234, 241);
    text-transform: uppercase;
}
td{
    color: rgb(187, 196, 204);
    text-align: center;
}
tr:hover{
    font-size: 110%;
    transition: 50ms;
    background-color: rgb(34, 34, 46);
}