h4 {
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 5px;
}

th {
    padding: 0 16px;
    background-color:#836FFF;
    color:white;
    
}

td {
    padding: 0 4px;
    text-align: right;
}

.par {
    background-color: lightgray;
}