body{
    background-color: rgb(218, 224, 226);
}
h1#curriculo{
    color: rgb(85, 50, 9);
    background-color: blue;
    text-align: center;
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
h2, p{
    font-family: 'Gill Sans MT','Trebuchet MS', sans-serif;
}
