body{
    background-color: rgb(218, 224, 226);
}
h1#curriculo{
    text-align: center;
    background-color: rgb(10, 102, 194);
    padding: 25px;
    font-family: Verdana;
    color: white;
}
h1{
    /*Conofigurações para os demais H1 do código*/
}
h2{
    font-family: Verdana;
    text-align: center;
}
h4{
    font-family: Verdana;
}
p{
    font-family: Verdana;
    padding: 30px;
}
