h1{
    background-color:  darkorchid;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
}
h2{
    text-align: center;
}
img{
    margin: top;
}
