body{

    background-image: linear-gradient(to left, rgb(255, 93, 120), rgb(255, 255, 102), rgb(65, 65, 255));

}
/*Formatação Login*/
.login{

    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    border: 2px;
}
.form label{

    color: rgb(48, 0, 21);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form{

    padding: 30px;
    border-radius: 2px;
    width: 250px;

}
.form input{

    width: 250px;
    height: 20px;
    border: none;
    margin: 0 auto;

}
.form h1{

    text-align: center;

}
button{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 255px;
}