h1{
    padding: 8px;
    font-size: 20px;
    font-family: Verdana;
    background-color: rgb(0, 238, 238);
   text-align: center;
}

    
content h1{
    position: absolute;
    color: aliceblue;
    transform: translate(-50% , -50%);
    font-size: 8em;
}
content h1:nth-child(1)
{
    color:transparent;
    -webkit-text-stroke: 2px #03a9f4 ;
}
table{
    color:rgb(0, 0, 0)
    
}

td{
    padding: 8px;
    font-size: 17px;
    font-family: Verdana;
    background-color: rgb(0, 0, 0);
    padding: 13px;
    
}

th{
    padding: 8px;
    font-size: 20px;
    font-family: Verdana;
    background-color: rgb(238, 0, 186);
    padding: 29px;
}
td{
    color:rgb(37, 152, 247)
    
}
h1#tabela{
    color:rgb(0, 0, 0)
    

}











